@import '../styles/variables.module';

.section {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    color: $dirty-white;
    background: $purple;
    padding-top: 60px;
    padding-bottom: 100px;
}

.section h1 {
    font-family: Poppins;
    color: $white;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    max-width: 630px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.section p {
    color: $dirty-white;
    max-width: 630px;
    font-size: 18px;
    line-height: 26px;
}

$hoagie-height: 480px;

.content {
    // margin-top: -90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.content .text {
    // padding-left: 100px;
}

.content .hoagie {
    // position: absolute;
    // top: -120px;
    // left: -30px;
    // padding-right: 30px;
    // padding-right: 100px;
    transform: rotate(12deg);
}

.description {
    margin-bottom: 40px;
}

.hoagies img {
    position: absolute;
}

.hoagies .one {
    left: 80%;
    top: -210px;
    transform: rotate(-15deg);
}

.hoagies .two {
    top: 100%;
    left: 70%;
    transform: rotate(15deg);
    margin-top: calc(-#{$hoagie-big-height} / 1.5);
}

@include nondesktop {
    .content {
        flex-direction: column;
        align-items: flex-start;
    }
    .content .section h1 {
        padding-left: 0px;
        text-align: center;
    }
    .content .hoagie {
        transform: none;
        position: static;
        // margin-top: 100px;
        margin-bottom: 20px;
        padding-right: 0;
    }
    .content .hoagie img {
        height: 200px;
    }
    .hoagies {
        display: none;
    }
    .buttons {
        text-align: center;
    }
    .buttons div {
        display: block;
        width: 190px;
        margin-right: 0px;
        margin-bottom: 10px;
    }
}


@include mobile {
    .content h1 {
        font-size: 32px;
        line-height: 35px;
    }
}